<div class="about">
  <div class="heading">
    <h1 class="heading-title">A little about me</h1>
    <p class="heading-text">Who I am, and what I love doing</p>
  </div>
  <div class="about-contents">
    <div class="container-fluid">
      <div class="row m-0">
        <div class="col-md-6 my-5">
          <p>
            I'm Nazmul Alam, a 32 year old full-stack engineer from Dhaka,
            Bangladesh.
          </p>
          <p>
            Currently I am working as a software developer at
            <a href="https://www.monerbari.com/" target="blank"
              >Monerbari Technology Limited</a
            >
            and Instructor at
            <a href="https://www.logitbd.com/" target="blank">Log It Bd</a>.
            <strong>Log IT BD</strong> is a platform where people will able to
            learn IT (Information Technology) with hand on experience.
          </p>
        </div>
        <div class="col-md-6">
          <img
            class="about-contents-profile"
            src="/assets/images/profile_nazmul.jpg"
            alt="Nazmul Alam"
          />
        </div>
      </div>
      <div class="row ml-3"><h3 class="my-5">Get in touch</h3></div>
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <p>
            Send me a
            <a href="https://twitter.com/nazmulng" target="blank">tweet</a> or
            direct message.
          </p>
          <p>
            If you need to reach me via email, feel free:
            <a href="mailto:nazmuldipu@gmail.com">nazmuldipu@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
