<div class="side-nav">
  <div class="logo">
    <a class="logo__tm" href="/">
      <img src="/assets/images/nazmul.jpg" alt="Nazmul Alam" />
      <div>
        <h3>Nazmul Alam</h3>
        <h4>Founder @ Log IT BD</h4>
      </div>
    </a>
    <div class="logo__twitter">
      <iframe
        id="twitter-widget-0"
        scrolling="no"
        frameborder="0"
        allowtransparency="true"
        class="twitter-follow-button twitter-follow-button-rendered"
        style="position: static; visibility: visible; width: 223px; height: 20px;"
        title="Twitter Follow Button"
        src="https://platform.twitter.com/widgets/follow_button.31bcb7ae210ce3a448d2ffc6cde7ba34.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=nazmulng&amp;show_count=true&amp;show_screen_name=true&amp;size=m&amp;time=1542617729195"
        data-screen-name="toddmotto"
      ></iframe>
      <script>
        !(function(d, s, id) {
          var js,
            fjs = d.getElementsByTagName(s)[0],
            p = /^http:/.test(d.location) ? 'http' : 'https';
          if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
          }
        })(document, 'script', 'twitter-wjs');
      </script>
    </div>
  </div>
  <nav class="nav" role="navigation">
    <ul class="nav-list">
      <li class="nav-item"><a class="nav-link" href="/"> Blogs </a></li>
      <li class="nav-item">
        <a class="nav-link active" href="/about/"> About </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link" href="/speaking/"> Speaking </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://ultimateangular.com" target="_blank">
          Courses
        </a>
      </li>
    </ul>
  </nav>
</div>
